In [2]:
import pandas as pd

In [12]:
pd.set_option('display.max_columns', 500)

In [13]:
df = pd.read_csv('job_descriptions.csv')

In [14]:
df.head()

,Job Id,Experience,Qualifications,Salary Range,location,Country,latitude,longitude,Work Type,Company Size,Job Posting Date,Preference,Contact Person,Contact,Job Title,Role,Job Portal,Job Description,Benefits,skills,Responsibilities,Company,Company Profile
0,1089843540111562,5 to 15 Years,M.Tech,$59K-$99K,Douglas,Isle of Man,54.2361,-4.5481,Intern,26801,2022-04-24,Female,Brandon Cunningham,001-381-930-7517x737,Digital Marketing Specialist,Social Media Manager,Snagajob,Social Media Managers oversee an organizations...,"{'Flexible Spending Accounts (FSAs), Relocatio...","Social media platforms (e.g., Facebook, Twitte...","Manage and grow social media accounts, create ...",Icahn Enterprises,"{""Sector"":""Diversified"",""Industry"":""Diversifie..."
1,398454096642776,2 to 12 Years,BCA,$56K-$116K,Ashgabat,Turkmenistan,38.9697,59.5563,Intern,100340,2022-12-19,Female,Francisco Larsen,461-509-4216,Web Developer,Frontend Web Developer,Idealist,Frontend Web Developers design and implement u...,"{'Health Insurance, Retirement Plans, Paid Tim...","HTML, CSS, JavaScript Frontend frameworks (e.g...","Design and code user interfaces for websites, ...",PNC Financial Services Group,"{""Sector"":""Financial Services"",""Industry"":""Com..."
2,481640072963533,0 to 12 Years,PhD,$61K-$104K,Macao,"Macao SAR, China",22.1987,113.5439,Temporary,84525,2022-09-14,Male,Gary Gibson,9687619505,Operations Manager,Quality Control Manager,Jobs2Careers,Quality Control Managers establish and enforce...,"{'Legal Assistance, Bonuses and Incentive Prog...",Quality control processes and methodologies St...,Establish and enforce quality control standard...,United Services Automobile Assn.,"{""Sector"":""Insurance"",""Industry"":""Insurance: P..."
3,688192671473044,4 to 11 Years,PhD,$65K-$91K,Porto-Novo,Benin,9.3077,2.3158,Full-Time,129896,2023-02-25,Female,Joy Lucero,+1-820-643-5431x47576,Network Engineer,Wireless Network Engineer,FlexJobs,"Wireless Network Engineers design, implement, ...","{'Transportation Benefits, Professional Develo...",Wireless network design and architecture Wi-Fi...,"Design, configure, and optimize wireless netwo...",Hess,"{""Sector"":""Energy"",""Industry"":""Mining, Crude-O..."
4,117057806156508,1 to 12 Years,MBA,$64K-$87K,Santiago,Chile,-35.6751,-71.5429,Intern,53944,2022-10-11,Female,Julie Johnson,343.975.4702x9340,Event Manager,Conference Manager,Jobs2Careers,A Conference Manager coordinates and manages c...,"{'Flexible Spending Accounts (FSAs), Relocatio...",Event planning Conference logistics Budget man...,Specialize in conference and convention planni...,Cairn Energy,"{""Sector"":""Energy"",""Industry"":""Energy - Oil & ..."

In [16]:
len(df['Job Title'].unique())

147

In [17]:
df = df [['Experience', 'Qualifications', 'Job Title', 'Job Description']]

In [18]:
# Keep only rows with unique job titles
df = df.drop_duplicates(subset='Job Title')

In [19]:
len(df)

147

In [20]:
#save the data to a new csv file
df.to_csv('job_descriptions_cleaned.csv', index=False)

In [21]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv("job_descriptions_cleaned.csv")

# Merge the dataset with headers
merged_data = []
for index, row in df.iterrows():
    merged_data.append(f"{row['Job Title']}: The Experience is {row['Experience']}, Qualifications is {row['Qualifications']}, and Job Description is {row['Job Description']}.")

# Save the merged data to a new txt file
with open("merged_data.txt", "w") as file:
    for data in merged_data:
        file.write(data + "\n")

In [7]:
df = pd.read_csv('academic_routes_final.csv')

In [8]:
df.head()

,Program,Description,Subject Areas,Impact Score,Earning Potential,Bachelors,Masters,PhD
0,Accounting,"Study of financial records, taxation, auditing...","Financial Accounting, Managerial Accounting, T...",3,8,True,True,False
1,Advertising,Study of creative and strategic approaches to ...,"Copywriting, Art Direction, Media Planning, Co...",2,6,True,True,False
2,Aerospace Engineering,"Design, development, and testing of aircraft, ...","Aerodynamics, Propulsion, Structures, Avionics...",6,9,True,True,True
3,Anthropology,"Study of human cultures, societies, and their ...","Cultural Anthropology, Archaeology, Linguistic...",5,5,True,True,True
4,Applied Mathematics,Study of mathematical methods and techniques f...,"Numerical Analysis, Operations Research, Mathe...",5,6,True,True,True

In [9]:
# replace true false with required and not required for columns Bachelors, Masters, and PhD
df['Bachelors'] = df['Bachelors'].replace({True: 'offered', False: 'not offered'})
df['Masters'] = df['Masters'].replace({True: 'offered', False: 'not offered'})
df['PhD'] = df['PhD'].replace({True: 'offered', False: 'not offered'})

In [10]:
# Merge the dataset with headers
merged_data = []
for index, row in df.iterrows():
    merged_data.append(f"{row['Program']}: {row['Description']} Subject areas are {row['Subject Areas']}. Bachelor's degree is {row['Bachelors']}. Master's degree is {row['Masters']}. Doctoral degree is {row['PhD']}.")

# Save the merged data to a new txt file
with open("merged_data_academic.txt", "w") as file:
    for data in merged_data:
        file.write(data + "\n")

In [39]:
df = pd.read_excel('main_data/Occupation Data.xlsx')

In [40]:
df.head()

,O*NET-SOC Code,Title,Description
0,11-1011.00,Chief Executives,Determine and formulate policies and provide o...
1,11-1011.03,Chief Sustainability Officers,"Communicate and coordinate with management, sh..."
2,11-1021.00,General and Operations Managers,"Plan, direct, or coordinate the operations of ..."
3,11-1031.00,Legislators,"Develop, introduce, or enact laws and statutes..."
4,11-2011.00,Advertising and Promotions Managers,"Plan, direct, or coordinate advertising polici..."

In [42]:
# Merge the dataset with headers
merged_data = []
for index, row in df.iterrows():
    merged_data.append(f"{row['Title']}: {row['Description']}")

# Save the merged data to a new txt file
with open("converted_text/ONET.txt", "w") as file:
    for data in merged_data:
        file.write(data + "\n")

In [43]:
df = pd.read_excel('main_data/Technology Skills.xlsx')

In [44]:
df.head()

,O*NET-SOC Code,Title,Example,Commodity Code,Commodity Title,Hot Technology,In Demand
0,11-1011.00,Chief Executives,Adobe Acrobat,43232202,Document management software,Y,N
1,11-1011.00,Chief Executives,AdSense Tracker,43232306,Data base user interface and query software,N,N
2,11-1011.00,Chief Executives,Atlassian JIRA,43232201,Content workflow software,Y,N
3,11-1011.00,Chief Executives,Blackbaud The Raiser's Edge,43232303,Customer relationship management CRM software,N,N
4,11-1011.00,Chief Executives,ComputerEase construction accounting software,43231601,Accounting software,N,N

In [45]:
# Merge the dataset with headers
merged_data = []
for index, row in df.iterrows():
    merged_data.append(f"For roles like {row['Title']}, The Technology Skill required is {row['Example']}. This skill is a {row['Commodity Title']}")

# Save the merged data to a new txt file
with open("converted_text/ONET_tech_skills.txt", "w") as file:
    for data in merged_data:
        file.write(data + "\n")